<p id="notice"><%= notice %></p>

<p>
  <strong>Manufactor:</strong>
  <%= @manufactor.manufactor %>
</p>

<%= link_to 'Edit', edit_manufactor_path(@manufactor) %> |
<%= link_to 'Back', manufactors_path %>
