<p id="notice"><%= notice %></p>
<h1> Show My Manufactors </h2>
<p>
  <strong>Manufactor:</strong>
  <%= @manufactor.manufactor %>
</p>

<%= link_to 'Edit', edit_manufactor_path(@manufactor),:class=>"btn-sm btn-primary" %> |
<%= link_to 'Back', manufactors_path,:class=>"btn-sm btn-primary" %>
